.site-layout-background .main__content {
  background: #fff !important;
}
.ant-modal-footer {
  text-align: unset !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.d-flex {
  display: flex !important;
}
.main__content {
  background-color: #fff;
  padding-top: 64px;
  padding-left: 200px;
}
