.level {
  margin: 20px 30px;

  &--header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &__content {
      height: 100%;
      position: relative;
      .custom-button {
        position: absolute;
        bottom: 0;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
    button {
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
      font-size: 14px;
    }
  }
  &--actions {
    float: right;

    button {
      border: 0;
      margin: 10px 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &--search {
    :last-child {
      display: flex;
      align-items: center;
    }
    input {
      max-width: 500px;
    }
  }
  &--table {
    padding: 14px;
    box-shadow: 1px 1px 10px 0px #ddd;
    border-radius: 9px;
    margin: 50px 0px;
    .ant-table {
      padding: 0 20px;
    }
  }
}
.ant-drawer {
  &-header-title {
    flex-direction: row-reverse;
  }
  &-body {
  }
  &-footer {
    position: absolute;
    bottom: 0;
  }
}

td.ant-table-column-sort {
  background-color: inherit;
}

.ant-pagination {
  margin: 16px 50px !important;
}

.pop {
  display: flex;
  flex-direction: column;

  :first-child {
    border-bottom: 1px solid #ddd;
  }
  a {
    padding: 10px 80px 10px 20px;
    font-size: 14px;
    color: #333;
    &:hover {
      opacity: 0.8;
      color: #5c6670;
    }
  }
}
